<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpc.test.kotlin_lib" >

    <application>
        <activity android:name=".activity.KotlinActivity" />
        <activity android:name=".test.Kotlin5Activity" />
        <activity android:name=".test.Kotlin6Activity" />
        <activity android:name=".test.AlgorithmActivity" />
    </application>
</manifest>
